.App {
  text-align: center;
    background-color:#39CCCC;
  
    
  }
  .slotsContainer
  {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container{
    border: 5px solid #0074D9;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    width: 70%;
    min-height: 270px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: #001f3f;
    color: #7FDBFF;
    flex: 1 0 21%;
  
  }
  .App>h1
  {
    color: #7FDBFF;
  }
  .container:hover{
    cursor: pointer;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  